<html>
<head>
<title>exercise1.py</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #cc7832;}
.s1 { color: #a9b7c6;}
.s2 { color: #6a8759;}
.s3 { color: #6897bb;}
.s4 { color: #808080;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
exercise1.py</font>
</center></td></tr></table>
<pre><span class="s0">import </span><span class="s1">numpy </span><span class="s0">as </span><span class="s1">np</span>
<span class="s0">import </span><span class="s1">matplotlib.pyplot </span><span class="s0">as </span><span class="s1">plt</span>

data = open(<span class="s2">&quot;https://github.com/krzysztofMSU/data-visualization-final-project/blob/gh-pages/_includes/_txt_csv/berkley.txt&quot;</span><span class="s0">, </span><span class="s2">&quot;r&quot;</span><span class="s1">)</span>
freq = []
admit = []
gender = []
depart = []
admitted_male = []
rejected_male = []
admitted_female = []
rejected_female = []
number = <span class="s3">0</span>
<span class="s1">string1 = </span><span class="s2">&quot;&quot;</span>
<span class="s1">count = </span><span class="s3">0</span>
<span class="s1">N = </span><span class="s3">6</span>
<span class="s1">ind = np.arange(N)      </span><span class="s4"># the x locations for the groups</span>
<span class="s1">width = </span><span class="s3">0.35            </span><span class="s4"># the width of the bars: can also be len(x) sequence</span>

# Loads data from file to lists
<span class="s0">for </span><span class="s1">line </span><span class="s0">in </span><span class="s1">data:</span>
    words = line.split(<span class="s2">','</span><span class="s1">)</span>
    data_list = (words[<span class="s3">0</span><span class="s1">]</span><span class="s0">, </span><span class="s1">words[</span><span class="s3">1</span><span class="s1">]</span><span class="s0">, </span><span class="s1">words[</span><span class="s3">2</span><span class="s1">]</span><span class="s0">, </span><span class="s1">words[</span><span class="s3">3</span><span class="s1">])</span>
    words[<span class="s3">3</span><span class="s1">] = words[</span><span class="s3">3</span><span class="s1">].strip(</span><span class="s2">'</span><span class="s0">\n</span><span class="s2">'</span><span class="s1">)                         </span><span class="s4"># Removes &quot;\n&quot; from freq list</span>
    <span class="s1">admit.append(words[</span><span class="s3">0</span><span class="s1">])</span>
    gender.append(words[<span class="s3">1</span><span class="s1">])</span>
    depart.append(words[<span class="s3">2</span><span class="s1">])</span>
    <span class="s4"># Converts 'frequency' strings to integers</span>
    <span class="s1">string1 = words[</span><span class="s3">3</span><span class="s1">]</span>
    <span class="s0">if </span><span class="s1">count &gt; </span><span class="s3">0</span><span class="s1">:</span>
        string1 = int(string1)
    freq.append(string1)                                    <span class="s4"># Loads freq integers to freq list</span>
    <span class="s1">count = count + </span><span class="s3">1</span>
<span class="s1">data.close()</span>

<span class="s4"># Removes first element in each list</span>
<span class="s1">freq.remove(</span><span class="s2">'Freq'</span><span class="s1">)</span>
admit.remove(<span class="s2">'Admit'</span><span class="s1">)</span>
gender.remove(<span class="s2">'Gender'</span><span class="s1">)</span>
depart.remove(<span class="s2">'Dept'</span><span class="s1">)</span>

<span class="s4"># # Prints lists to console to check if populates</span>
# print(admit)
# print(gender)
# print(depart)
# print(freq)

<span class="s0">for </span><span class="s1">x </span><span class="s0">in </span><span class="s1">range(len(admit)):</span>
    <span class="s0">if </span><span class="s1">admit[x] == </span><span class="s2">&quot;Admitted&quot; </span><span class="s0">and </span><span class="s1">gender[x] == </span><span class="s2">&quot;Male&quot;</span><span class="s1">:      </span><span class="s4"># Separate admitted male into list</span>
        <span class="s1">admitted_male.append(freq[x])</span>
    <span class="s0">if </span><span class="s1">admit[x] == </span><span class="s2">&quot;Rejected&quot; </span><span class="s0">and </span><span class="s1">gender[x] == </span><span class="s2">&quot;Male&quot;</span><span class="s1">:      </span><span class="s4"># Separate rejected male into list</span>
        <span class="s1">rejected_male.append(freq[x])</span>
    <span class="s0">if </span><span class="s1">admit[x] == </span><span class="s2">&quot;Admitted&quot; </span><span class="s0">and </span><span class="s1">gender[x] == </span><span class="s2">&quot;Female&quot;</span><span class="s1">:    </span><span class="s4"># Separate admitted female into list</span>
        <span class="s1">admitted_female.append(freq[x])</span>
    <span class="s0">if </span><span class="s1">admit[x] == </span><span class="s2">&quot;Rejected&quot; </span><span class="s0">and </span><span class="s1">gender[x] == </span><span class="s2">&quot;Female&quot;</span><span class="s1">:    </span><span class="s4"># Separate rejected female into list</span>
        <span class="s1">rejected_female.append(freq[x])</span>

<span class="s4"># print(&quot;\n&quot;)</span>
# # Prints separate lists to console to check if populates
# print(admitted_male)
# print(rejected_male)
# print(admitted_female)
# print(rejected_female)

<span class="s1">fig</span><span class="s0">, </span><span class="s1">ax = plt.subplots()</span>
p1 = ax.bar(ind - width/<span class="s3">2</span><span class="s0">, </span><span class="s1">admitted_male</span><span class="s0">, </span><span class="s1">width</span><span class="s0">, </span><span class="s1">color=</span><span class="s2">'royalblue'</span><span class="s0">, </span><span class="s1">label=</span><span class="s2">'Admitted Men'</span><span class="s1">)</span>
p2 = ax.bar(ind - width/<span class="s3">2</span><span class="s0">, </span><span class="s1">rejected_male</span><span class="s0">, </span><span class="s1">width</span><span class="s0">, </span><span class="s1">bottom=admitted_male</span><span class="s0">, </span><span class="s1">color=</span><span class="s2">'skyblue'</span><span class="s0">, </span><span class="s1">label=</span><span class="s2">'Rejected Men'</span><span class="s1">)</span>
p3 = ax.bar(ind + width/<span class="s3">2</span><span class="s0">, </span><span class="s1">admitted_female</span><span class="s0">, </span><span class="s1">width</span><span class="s0">, </span><span class="s1">color=</span><span class="s2">'m'</span><span class="s0">, </span><span class="s1">label=</span><span class="s2">'Admitted Women'</span><span class="s1">)</span>
p4 = ax.bar(ind + width/<span class="s3">2</span><span class="s0">, </span><span class="s1">rejected_female</span><span class="s0">, </span><span class="s1">width</span><span class="s0">, </span><span class="s1">bottom=admitted_female</span><span class="s0">, </span><span class="s1">color=</span><span class="s2">'orchid'</span><span class="s0">, </span><span class="s1">label=</span><span class="s2">'Rejected Women'</span><span class="s1">)</span>

plt.ylabel(<span class="s2">'Frequency'</span><span class="s0">, </span><span class="s1">fontsize=</span><span class="s3">14</span><span class="s1">)</span>
plt.xlabel(<span class="s2">'Groups'</span><span class="s0">, </span><span class="s1">fontsize=</span><span class="s3">14</span><span class="s1">)</span>
plt.title(<span class="s2">'Acceptance Frequency by groups and gender'</span><span class="s0">, </span><span class="s1">fontsize=</span><span class="s3">14</span><span class="s1">)</span>
plt.xticks(ind<span class="s0">, </span><span class="s1">(</span><span class="s2">'A'</span><span class="s0">, </span><span class="s2">'B'</span><span class="s0">, </span><span class="s2">'C'</span><span class="s0">, </span><span class="s2">'D'</span><span class="s0">, </span><span class="s2">'E'</span><span class="s0">, </span><span class="s2">'F'</span><span class="s1">))</span>
<span class="s4"># plt.yticks()    # Not needed</span>
<span class="s1">plt.legend((p1[</span><span class="s3">0</span><span class="s1">]</span><span class="s0">, </span><span class="s1">p2[</span><span class="s3">0</span><span class="s1">]</span><span class="s0">, </span><span class="s1">p3[</span><span class="s3">0</span><span class="s1">]</span><span class="s0">, </span><span class="s1">p4[</span><span class="s3">0</span><span class="s1">])</span><span class="s0">, </span><span class="s1">(</span><span class="s2">'Men Admitted'</span><span class="s0">, </span><span class="s2">'Men Rejected'</span><span class="s0">, </span><span class="s2">'Women Admitted'</span><span class="s0">, </span><span class="s2">'Women Rejected'</span><span class="s1">))</span>
plt.show()
</pre>
</body>
</html>